@import "node_modules/bootstrap/scss/bootstrap";

$containerLenght: 50px;

.meinContainer {
  width: 100%;
  padding: 0 1rem;
}

.meinItem {
  height: 0.5 * $containerLenght;
  width: 300px;
  background-color: green;
  font-family: "Gamja Flower", cursive;
}
.meinImage {
  width: 100%;
}
