@import "node_modules/bootstrap/scss/bootstrap";

$containerLenght: 50px;

// soll später durch tree shaking entfernt werden
// .meinItem {
//   height: 0.5 * $containerLenght;
//   width: 300px;
//   background-color: green;
//   font-family: "Gamja Flower", cursive;
// }
.meinImage {
  width: 100%;
}

.container {
  background: $primary;
}
