<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Kontakt</h1>
        <p>Königswinterer Str. 318 / 53227, Bonn</p>
        <p>Öffnungszeiten: 08:00 - 12:00</p>
        <div class="social-media">
          <a href="#"><i class="fab fa-facebook-square"></i> </a> <a href="#"><i class="fab fa-twitter-square"></i> </a>
          <a href="#"><i class="fab fa-pinterest-square"></i></a> <a href="#"><i class="fab fa-instagram"></i> </a>
        </div>
      </div>
    </div>
  </div>
</div>
