<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet" />
    <title>Webpack App</title>
  </head>
  <body>
    <%- include views/header %>
    <div id="root"></div>

    <%= htmlWebpackPlugin.options.fname %> <br />
    <%- include views/footer %>
  </body>
</html>
